.card.card-dark.mx-auto.my-5{ style: 'max-width: 400px' }
  .card-header
    %h3.card-title.text-center Saisissez votre nouveau mot de passe
  .card-body
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = f.hidden_field :reset_password_token
      = f.full_error :reset_password_token

      = f.input :password, autofocus: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }
      = f.input :password_confirmation, input_html: { autocomplete: "new-password" }

      .text-center
        = f.button :submit, "Valider", class: 'btn-dark mb-4'
        %br
        = render "devise/shared/links"