.card.card-dark.mx-auto.my-5{ style: 'max-width: 400px' }
  .card-header
    %h3.card-title.text-center Mot de passe oublié
  .card-body
    - flash.each do |type, message|
      .alert.alert-danger
        = message
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.input :email, autofocus: true, input_html: { autocomplete: "email" }
      .text-center
        = f.button :submit, 'Renvoyer', class: 'btn-dark'
