.card.card-dark.mx-auto.my-5{ style: 'max-width: 400px' }
  .card-header
    %h3.card-title.text-center Mot de passe oublié
  .card-body.text-center
    Votre demande a été enregistrée.
    %br
    Vous allez recevoir un email vous invitant à modifier votre mot de passe.
