%aside.main-sidebar.sidebar-dark-primary.elevation-4
  %a.brand-link{:href => root_path}
    = image_tag asset_path("logo.png"), class: "brand-image img-circle elevation-3"
    %span.brand-text.font-weight-light Garnier Thiebaut
  .sidebar
    .user-panel.mt-3.pb-3.mb-3.d-flex
      .image
        &nbsp;

      .info
        -# %a.d-block{:href => "#"}= current_user.full_name
    %nav.mt-2
      %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
