= turbo_frame_tag "modal" do
  .modal{data: {controller: "modal", action: "turbo:before-render@document->modal#hideBeforeRender"}}
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          %h5.modal-title
            = title
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
        #modal_body.modal-body
          = yield
