-# .preloader.flex-column.justify-content-center.align-items-center
  = image_tag asset_path("2.0/logo.png"), height: 60, width: 60, class: "animation__shake"
%nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link{"data-widget" => "pushmenu", :href => "#", :role => "button"}
        %i.fas.fa-bars
    %li.nav-item.d-none.d-sm-inline-block
      %a.nav-link{:href => "#"}= @page_title
  %ul.navbar-nav.ml-auto
    %li.nav-item
      %a.nav-link
        Connecté en tant que
        #{current_user.email}
    %li.nav-item
      = render SignoutButtonComponent.new(path: destroy_user_session_path)