%tr
  %td= customer.id
  %td= link_to customer.first_name, edit_customer_path(customer), title: 'Modifier le client'
  %td= customer.last_name
  %td= mail_to customer.email
  %td
    = link_to customer_addresses_path(customer), class: 'btn btn-sm btn-primary' do
      %i.fas.fa-building
      Adresses
    &nbsp;
    = link_to customer_path(customer), data: { turbo_method: :delete, turbo_confirm: t('ui.confirm_destroy')}, class: 'btn btn-sm btn-danger' do
      %i.fa.fa-trash
      = t("ui.destroy")
