.card
  .card-header

  .card-body
    .row
      .col-6= f.input :first_name
      .col-6= f.input :last_name
    .row
      .col-6= f.input :email
      .col-6
  .card-footer
    .row
      .col-12.text-right
        = f.submit "Enregistrer", class: "btn btn-success btn-sm"