- content_for :page_title do
  %h1= t('customers.edit.title', label: @customer.full_name)

.row
  .col-12
    = simple_form_for @customer, url: customer_url(@customer), html: { method: :patch }, data: { turbo: false } do |f|
      = render partial: 'form', locals: { f: f }
