- content_for :page_title do
  %h1= t('customers.index.title')
- content_for :subtitle do
  %p= t('customers.index.subtitle')

.row.mb-4
  .col-12.text-right
    /= link_to "Nouveau produit", new_customer_url, class: "btn btn-primary btn-sm"
    = link_to new_customer_url, class: "btn btn-primary btn-sm" do
      %i.fa.fa-plus
      = t("ui.new")
.row
  .col-12
    .card
      .card-header
        %h3.card-title= t('customers.index.title')
      .card-body
        %table.table.table-bordered.table-hover
          %thead
            %tr
              %th ID
              %th= t('activerecord.attributes.customer.first_name')
              %th= t('activerecord.attributes.customer.last_name')
              %th= t('activerecord.attributes.customer.email')
              %th
          %tbody
            = render partial: 'customer', collection: @customers

      .card-footer
        .row
          .col-12
            = will_paginate @customers