.card.card-dark.mx-auto.my-5{ style: 'max-width: 400px;' }
  .card-header
    %h3.card-title.text-center Connexion
  .card-body
    - flash.each do |type, message|
      .alert.alert-danger
        = message
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { novalidate: true }) do |f|
      = f.input :email, autofocus: true, input_html: { autocomplete: "email" }
      = f.input :password, input_html: { autocomplete: "current-password" }
      = f.input :remember_me, as: :boolean, wrapper_html: { class: 'form-check' }, input_html: { class: 'form-check-input' }, label_html: { class: 'form-check-label' } if devise_mapping.rememberable?
      .text-center
        = f.button :submit, "Se connecter", class: 'btn-dark mb-4'
        %br
        = render "devise/shared/links"
