%tr
  %td= address.id
  %td= link_to address.street, edit_customer_address_path(@customer,address), title: 'Modifier une adresse'
  %td= address.postal_code
  %td= mail_to address.city
  %td
    = link_to customer_address_path(@customer,address), data: { turbo_method: :delete, turbo_confirm: t('ui.confirm_destroy')}, class: 'btn btn-sm btn-danger' do
      %i.fa.fa-trash
      = t("ui.destroy")
