.card
  .card-header

  .card-body
    .row
      .col-12= f.input :street
    .row
      .col-6= f.input :postal_code
      .col-6= f.input :city

  .card-footer
    .row
      .col-12.text-right
        = f.submit "Enregistrer", class: "btn btn-success btn-sm"