- content_for :page_title do
  %h1= t('addresses.edit.title', label: @address.street)

.row
  .col-12
    = simple_form_for @address, url: customer_address_url(@customer, @address), html: { method: :patch }, data: { turbo: false } do |f|
      = render partial: 'form', locals: { f: f }
