- content_for :page_title do
  %h1= t('addresses.index.title')
- content_for :subtitle do
  %p= t('addresses.index.subtitle')

.row.mb-4
  .col-12.text-right
    /= link_to "Nouveau produit", new_address_url, class: "btn btn-primary btn-sm"
    = link_to new_customer_address_url(@customer), class: "btn btn-primary btn-sm" do
      %i.fa.fa-plus
      = t("ui.new")
.row
  .col-12
    .card
      .card-header
        %h3.card-title= t('addresses.index.title')
      .card-body
        %table.table.table-bordered.table-hover
          %thead
            %tr
              %th ID
              %th= t('activerecord.attributes.address.street')
              %th= t('activerecord.attributes.address.postal_code')
              %th= t('activerecord.attributes.address.city')
              %th
          %tbody
            = render partial: 'address', collection: @addresses

      .card-footer
        .row
          .col-12
            = will_paginate @addresses