- content_for :page_title do
  %h1 Nouvelle adresse

.row
  .col-12
    = simple_form_for @address, url: customer_addresses_url(@customer), data: { turbo: false } do |f|
      = render partial: 'form', locals: { f: f }
