%center
  = image_tag attachments['logo.png'].url
%p
  Bonjour, #{@customer.full_name}
  %br
  Voici vos informations :
%ul
  - @customer.attributes.each do |key, value|
    %li
      #{I18n.t(key, scope: 'activerecord.attributes.customer')} : #{value}
