<p>Bonjour <%= @resource.full_name %> !</p>

<p>Quelqu'un a demandé un lien pour changer votre mot de passe, le voici :</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas émis cette demande, merci d'ignorer cet email.</p>
<p>Votre mot de passe ne changera pas tant que vous n'aurez pas cliqué sur ce lien et renseigné un nouveau mot de passe.</p>
