.card
  .card-header

  .card-body
    .row
      .col-12= f.input :label
    .row
      .col-6= f.input :unit_price_et
      .col-6= f.input :vat
  .card-footer
    .row
      .col-12.text-right
        = f.submit "Enregistrer", class: "btn btn-success btn-sm"