%tr
  %td= product.id
  %td= link_to product.label, edit_product_path(product), title: 'Modifier le produit'
  %td= product.unit_price_et
  %td
    = link_to product_path(product), data: { turbo_method: :delete, turbo_confirm: t('ui.confirm_destroy')}, class: 'btn btn-sm btn-danger' do
      %i.fa.fa-trash
      = t("ui.destroy")
