- content_for :page_title do
  %h1= t('products.edit.title', label: @product.label)

.row
  .col-12
    = simple_form_for @product, url: product_url(@product), html: { method: :patch }, data: { turbo: false } do |f|
      = render partial: 'form', locals: { f: f }
