= turbo_page_requires_reload

- content_for :page_title do
  %h1= t('products.index.title')
- content_for :subtitle do
  %p= t('products.index.subtitle')

.row.mb-4
  .col-12.text-right
    /= link_to "Nouveau produit", new_product_url, class: "btn btn-primary btn-sm"
    = link_to new_product_url, class: "btn btn-primary btn-sm", data: { turbo_frame: "modal" } do
      %i.fa.fa-plus
      = t("ui.new")
.row
  .col-12
    .card
      .card-header
        %h3.card-title= t('products.index.title')
      .card-body
        %table.table.table-bordered.table-hover
          %thead
            %tr
              %th ID
              %th= t('activerecord.attributes.product.label')
              %th= t('activerecord.attributes.product.unit_price_et')
              %th
          %tbody
            = render partial: 'product', collection: @products

      .card-footer
        .row
          .col-12
            = will_paginate @products