!!!
%html{:lang => "fr"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "no-cache", "name" => "turbo-cache-control"}/

    %title= ENV['BRAND']
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{ rel:"stylesheet", href:"https://use.fontawesome.com/releases/v5.15.4/css/all.css", integrity:"sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm", crossorigin:"anonymous"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application"
    = yield :head
  %body.hold-transition.sidebar-mini.layout-fixed
    .wrapper
      = render partial: "shared/top_bar"
      = render partial: "shared/left_side"

      .content-wrapper
        .content-header
          .container-fluid
            .row.mb-2
              .col-sm-9
                = yield :page_title
              .col-sm-3
                = yield :subtitle
            .row
              .col-sm-12
                %ol.breadcrumb.float-sm-right
                  -# = render_breadcrumbs builder: ::Bootstrap4BreadcrumbsBuilder
        %section.content
          .container-fluid
            = render partial: "shared/flash"
            .row
              .col-12
                = yield
      %footer.main-footer
        %strong
          Copyright © 2011-#{Date.today.year}
          = succeed "." do
            %a{:href => "#"}= ENV['BRAND']
        .float-right.d-none.d-sm-inline-block
          %b Version
          = ENV['VERSION_NO']

      = turbo_frame_tag "modal"

    = yield :scripts