!!!
%html
  %head
    %title= ENV['BRAND']
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag
    %link{ rel:"stylesheet", href:"https://use.fontawesome.com/releases/v5.15.4/css/all.css", integrity:"sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm", crossorigin:"anonymous"}
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body{ style: 'background-color: #f4f6f9' }
    %h2.my-5.text-center
      Espace privé
      %br
      = image_tag asset_path('logo.png')
    = yield
